#python
*.pyd
*.pyo

__pycache__/
dist/
.vscode/
venv/
.ven/
*.egg
*.egg-info/
*.egg/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vs/
build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
